# roles/jenkins/tasks/main.yml
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Java dependencies
  apt:
    name:
      - fontconfig
      - openjdk-21-jre
    state: present

- name: Ensure apt keyrings directory exists
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download Jenkins GPG key
  get_url:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2026.key
    dest: /etc/apt/keyrings/jenkins-keyring.asc
    mode: '0644'

- name: Add Jenkins repository
  copy:
    content: "deb [signed-by=/etc/apt/keyrings/jenkins-keyring.asc] https://pkg.jenkins.io/debian-stable binary/"
    dest: /etc/apt/sources.list.d/jenkins.list

- name: Update apt cache after adding Jenkins repo
  apt:
    update_cache: yes

- name: Install Jenkins
  apt:
    name: jenkins
    state: present

- name: Enable and start Jenkins service
  systemd:
    name: jenkins
    enabled: yes
    state: started

- name: Install Docker
  apt:
    name: docker.io
    state: present

- name: Ensure Docker service is running
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Add jenkins user to Docker group
  user:
    name: jenkins
    groups: docker
    append: yes

- name: Add Ansible PPA
  apt_repository:
    repo: ppa:ansible/ansible
    state: present

- name: Install latest Ansible
  apt:
    name: ansible
    state: present
    update_cache: yes