# ------------------------
# Terraform
# ------------------------
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfvars
terraform.tfvars
*.tfvars.json

# ------------------------
# Local environment files
# ------------------------
*.env
*.pem
*.key

# ------------------------
# IDE / OS
# ------------------------
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# Optional
# ------------------------
# Any local backup files
*.bak
*.tmp
.venv