# roles/app/tasks/main.yml
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install required packages
  apt:
    name:
      - docker.io
      - python3-pip
    state: present

- name: Ensure Docker service is started and enabled
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Add ubuntu user to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes

- name: Pull Docker image from Docker Hub
  community.docker.docker_image:
    name: giorgimeskhoradze/nexusapp
    tag: "1.0"
    source: pull

- name: Run Docker container
  community.docker.docker_container:
    name: nexusapp
    image: giorgimeskhoradze/nexusapp:1.0
    state: started
    restart_policy: always
    ports:
      - "80:80"